*, *:before, *:after {
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
img {
    max-width: 100%;
    display: block;
}

/* Utilidades */

h1 {
    font-size: 6rem;
    padding: 2rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 2rem;
}
h1, h2, h3 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: red;
    text-align: center;
    margin: 4rem 0;
}

@media (min-width: 768px) {
    .contenedor {
        max-width: 120rem;
        margin: 0 auto;
        width: 90%;
    }
}

.nav-main {
    text-align: center;
}
.list {
    padding: 0;
    list-style: none;   
}

.link {
    padding: 1rem 0;
    margin: 0.3rem 0;
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 3rem;
    color: rgb(148, 148, 3);
    background-color: red;
    transition-property: transform;
    transition-duration: 300ms; 
}
@media (min-width: 789px) {
    .list li {
        display: inline-block;
    }
    
    .list .link {
        width: 100%;
        padding: 0.5rem;
        margin: 1rem 5.5rem;
    }
}

.link:hover {
    color: red;
    background-color: rgb(148, 148, 3);
    font-size: 4rem;
    transform: scale(1.1);
}

.content .link {
    text-align: center;
}
.footer {
    text-align: center;
    font-size: 3rem;
    padding-top: 5rem;
}

/* PIZZA */

.ingredientes {
    font-size: 2rem;
    list-style: square;
    list-style-position: inside;
    text-align: center;
}
.lista {
    font-size: 1.8rem;
}
@media (min-width: 768px) {
    .img-cont {
        width: 40%;        
    }
    .pizza {
        width: 100%;
    }
    .ingredientes {
        font-size: 3rem;
        list-style: square;
        list-style-position: inside;
        text-align: center;
    }
    .lista {
        font-size: 2.5rem;
    }
    .content-one .link{
        margin: 0 auto;
    }
}
.recetas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
