*, *:before, *:after {
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
img {
    max-width: 100%;
    display: block;
}

/* Utilidades */

h1 {
    font-size: 6rem;text-align: center;
    margin: 0;
    padding: 2rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 2rem;
}
h1, h2, h3 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: red;
    text-align: center;
}
/* 
@media (min-width: 768px) {
    .contenedor {
        max-width: 120rem;
        margin: 0 auto;
        width: 90%;
    }
} */


.nav-main {
    width: 100%;
    text-align: center;
}

.list {
    padding: 0;
    list-style: none;   
}
a {
    padding: 1rem;
    margin: 0.3rem 0;
    display: block;
    text-decoration: none;
    font-size: 3rem;
    color: rgb(148, 148, 3);
    background-color: red;
    transition-property: transform;
    transition-duration: 300ms; 
}
a:hover {
    color: red;
    background-color: rgb(148, 148, 3);
    font-size: 4rem;
    transform: scale(1.1);
}

.content a {
    text-align: center;
}
